.col form {
    width: 500px;
    margin-left: 200px;
}
h1  {
    margin-left: 200px;
}
h4 {
    margin-left: 250px;
}
.logg {
    margin-left: 500px;
    margin-top: 400px;
}
.logg button{
    margin-left: 250px;
}
.log {
    margin-left: 500px;
}
.log button{
    margin-left: 250px;
}