

body {
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #571f9f;


}
div {
    font-family: Montserrat, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;

}
form {
    display: flex;
    flex-direction: column;
    width: 300px;

}
input {
    margin: 10px 0px;
    padding: 10px;
    border-bottom: 3px solid rgba(38, 59, 136, 0.63);
    border-color: #571f9f;
    outline: none;
    border-radius: 10px;


}
h1 {
    text-align: left;
    color: blue;
    font-size: 40px;

}
a {
    color: blue;
    text-decoration: none;
    justify-content: center;
}
div {
    color: red;

}